{% assign plang = page.lang | default: site.langs[0] | default: "en" %}
<span class="contact-list-title">
  {{ site.data.academic_i18n.links[plang] }}
</span>
<ul class="contact-list {{ include.class }}">
  <li>
    {% include _icons/rss.html %}
  </li>

  {% if site.bitbucket_username %}
  <li>
    {% include _icons/bitbucket.html username=site.bitbucket_username %}
  </li>
  {% endif %}

  {% if site.github_username %}
  <li>
    {% include _icons/github.html username=site.github_username %}
  </li>
  {% endif %}

  {% if site.twitter_username %}
  <li>
    {% include _icons/twitter.html username=site.twitter_username %}
  </li>
  {% endif %}

  {% if site.linkedin_username %}
  <li>
    {% include _icons/linkedin.html username=site.linkedin_username %}
  </li>
  {% endif %}

  {% if site.keybase_username %}
  <li>
    {% include _icons/keybase.html username=site.keybase_username %}
  </li>
  {% endif %}

</ul>