{% assign plang = page.lang | default: site.langs[0] | default: "en" %}
{% assign i18n = site.data.academic_i18n %}
<footer class="site-footer">

  <div class="wrapper">

      <ul class="footer-col footer-col-1">
        <li>
          {% include _i18n/sitetitle.html %}

        {% if site.author_display %}
        <span class="author">
          {{ i18n.by[plang] }}
          {% if site.author_website %}
          <a target="_blank" href="{% include _i18n/i18n.html value=site.author_website %}">{{ site.author }}</a>
          {% else %}
          {{ site.author }}
          {% endif %}
        </span>
        </li>
        {% endif %}

        {% if site.description %}
        <li>{% include _i18n/i18n.html value=site.description %}</li>
        {% endif %}
        <li><img class="logo-footer" src="{{site.baseurl}}/assets/images/ita-logo-5.png"></li>

      </ul>

      {% if site.pitch %}
        <nav>
        {% include nav_menu.html class="footer-col footer-col-2"%}
        {% include contactlist.html class="single-col" %}
        </nav>
      {% else %}
        {% include contactlist.html class="footer-col footer-col-2" %}
      {% endif %}

    <div class="bottom">

      {% assign nblangs = site.langs | size %}
      {% if nblangs > 1 %}
        {% include _i18n/lang_selector.html %}
      {% endif %}

      <div class="tech">
        <a target="_blank" href="https://jekyllrb.com/">Jekyll</a> + <a target="_blank" href="https://github.com/gaalcaras/academic">Academic</a>
        {% if site.repo %}
        + <a target="_blank" href="{{ site.repo }}">Source</a>
        {% endif %}
      </div>

      <div class="legal">
      {% if site.cc == null %}©{% endif %}
      {% include _i18n/sitetitle.html %}
      {% assign oldest_post = site.posts reversed | first %}
      {% assign oldest = oldest_post.date | date: "%Y" %}
      {% assign newest = site.time | date: "%Y" %}
      ({% if oldest != newest %}{{ oldest }}-{% endif %}{{ newest }})
      {% if site.author and site.author_display %}
        {{ i18n.legal[plang][0] }}
        <a target="_blank" href="{% include _i18n/i18n.html value=site.author_website %}">{{ site.author }}</a>
      {% endif %}
      {% if site.cc %}
        {{ i18n.legal[plang][1] }}
        <a target="_blank" rel="license" href="https://creativecommons.org/licenses/{{ site.cc }}/4.0/" class="cc-licence">
          CC {{ site.cc }}
        </a>
      {% endif %}
     </div>
    </div>

  </div>
</footer>

{% if page.layout == "post" %}
<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}
