<a target="_blank" href="https://bitbucket.org/{{ include.username }}" title="Bitbucket"><span class="icon icon--bitbucket">{% include _icons/bitbucket.svg %}</span><span class="username">{{ include.username }}</span></a>
