{% assign plang = page.lang | default: site.langs[0] | default: "en" %}
<a href="{{site.baseurl}}/feed.xml" title="RSS"><span class="icon icon--feed">{% include _icons/rss.svg %}</span>
  <span class="username">
    {{ site.data.academic_i18n.feed[plang] }}
  </span>
</a>